*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #502734;
}

header {
    background: #956572;
    color: #000000;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
    margin-bottom: 0.5rem;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a{
    color: #553e44;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

section {
    padding: 2rem;
    margin: 1rem;
    background: #623749;
    border-radius: 8px;
    box-shadow: 0 8px 16px #000000;
    font-family: 'Times New Roman', Times, serif;
}

section:hover {
  transform: translateX(5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#sobre {
  background-image: url('fundo02.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px;
  color: black;
}

#inicio {
  background-image: url('fundo02.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px;
  color: white;
}